<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    {% endblock css %}
    <title>
        {% block title %}
        {% endblock title%}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/home.css">
</head>
<body>

   <section class="container" id="home">
       <div class="navbar">
        <h4>MallQuest</h4>
           <nav>
               <ul>
                   <li><a href="#home">HOME</a></li>
                   <li><a href="#category">CATEGORY</a></li>
                   <li><a href="#orders">ORDERS</a></li>
                   <li><a href="#contact">CONTACT US</a></li>
               </ul>
           </nav>
           <button class="addcustomer">ADD CUSTOMERS</button>
           <button class="logout"><a href="/logout">Logout</a></button>
       </div>
    </section>
    <img src="static/images/homeicon.png" class="homeimg">

   {% block body %}
   {% endblock body%} -->