<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
   <div class="container">
       <div class="navbar">
        <!-- <img src="static/images/logo2.png" class="logo"> -->
        <h4>MallQuest</h4>
           <nav>
               <ul>
                   <li><a href="">HOME</a></li>
                   <li><a href="">CATEGORY</a></li>
                   <li><a href="">ORDERS</a></li>
                   <li><a href="">CONTACT US</a></li>
               </ul>
           </nav>
           <button class="addcustomer">ADD CUSTOMERS</button>
           <button class="logout"><a href="/logout">Logout</a></button>
       </div>
   </div>
   <img src="static/images/homeicon.png" class="homeimg">
</body>
</html>

<!-- #4E95FF
#64A0EF -->