<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/stationary.css">
    <title>Document</title>
</head>
<body>
    <div class="tablecreate">
        <table>
            <thead>
                <tr>
                    <th>St_ID</th>
                    <th>Stname</th>
                    <th>Stamount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>St001</td>
                    <td>Pencils</td>
                    <td>20</td>
                    <td>
                        <span class="action_btn">
                            <a href="#">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>St001</td>
                    <td>Pencils</td>
                    <td>20</td>
                    <td>
                        <span class="action_btn">
                            <a href="#">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>St001</td>
                    <td>Pencils</td>
                    <td>20</td>
                    <td>
                        <span class="action_btn">
                            <a href="#">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>St001</td>
                    <td>Pencils</td>
                    <td>20</td>
                    <td>
                        <span class="action_btn">
                            <a href="#">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>St001</td>
                    <td>Pencils</td>
                    <td>20</td>
                    <td>
                        <span class="action_btn">
                            <a href="#">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>