<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/stocks.css" />
  </head>

  <body>
    <section>
      <div class="imgbox">
        <img src="/static/images/edit.png" class="editimg" />
      </div>
      <div class="contentbox">
        <div class="formbox">
          <h2>EDIT DETAILS</h2>
          <form id="register" action="/stocks/{{posts.St_id}}" method="POST">
            <div class="container">
              <label>Stock Id</label>
              <input
                type="text"
                name="St_id"
                id="name"
                placeholder="Enter the stock ID"
                required
              />
            </div>
            <div class="container">
              <label>Stock Name</label>
              <input
                type="text"
                name="Stname"
                id="name"
                placeholder="Enter the stock name"
              />
            </div>
            <div class="container">
              <label>Stock Price</label>
              <input
                type="text"
                name="Stamount"
                id="name"
                placeholder="Enter the stock price"
                required
              />
            </div>
            <div class="container">
              <label>Stock Barcode</label>
              <input
                type="text"
                name="Stbarcode"
                id="name"
                placeholder="Enter stock barcode"
                required
              />
            </div>
            <div class="container">
              <input type="submit" name="submit" value="UPDATE" id="submit" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
